# Preprocessor
## Include
### Local Root Directory
snippet unc
	#include "${1}"

### Standard Directory
snippet inc 
	#include <${1}>

# Main Function 
snippet main
	int main(${0})
	{
		${1}
		return 0;
	}

# Control Flow Statements
## If 
snippet if
	if(${0})
		${1}

## Else If
snippet elif
	else if(${0})
		${1}

## Else
snippet else
	else
		${0}

# Loop Statements
## while
snippet while
	while(${0})
	{
		${1}
	}

## for 
snippet for
	for(${0})
	{
		${1}
	}
