# Preprocessor
## Include
### Local Root Directory
snippet unc
	#include "${1}"

### Standard Directory
snippet inc 
	#include <${1}>

# Main Function 
snippet main
	int main(${0})
	{
		${1}
		return 0;
	}
